.logo-img {
  width: 96px;
  height: 31px;
  display: block;
  background: url(../images/DOYOGA-logo.png) no-repeat center/cover;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.logo-white {
  background: url(../images/DOYOGA.png) no-repeat center/cover;
}

.index-banner {
  background: url(../images/photo-1612157777902-5382bc6e864b.jpeg) no-repeat bottom/cover;
  background-attachment: fixed;
}

.head-shots-img {
  width: 48px;
  height: 48px;
}

// .swiper-slide {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: auto !important;
// }

// .swiper-container {
//   width: 100%;
//   height: 100%;
// }

// .swiper-btn-next.swiper-button-disabled, .swiper-btn-prev.swiper-button-disabled {
//   opacity: 0.35;
// }