<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
      <!-- Swiper -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.8.4/swiper-bundle.css" /> -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" /> -->
    <link rel="icon" href="./assets/images/outline_self_improvement_black_24dp.png">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <!-- <div class="d-none d-lg-block position-fixed top-50 end-0 translate-middle z-index-3"> -->
    <div class="d-none d-lg-block position-fixed top-35 end-0 z-index-3 pe-4">
      <ul class="d-flex flex-column align-items-center">
        <li class="mb-sm">
          <a href="https://www.facebook.com/hexschool/" title="臉書粉絲團" target="_blank" class="link-primary">
            <i class="fab fa-facebook fs-l bg-white border rounded-circle border-5 border-white"></i>
          </a>
        </li>
        <li class="mb-sm">
          <a href="https://www.instagram.com/hexschool/" title="IG icon" target="_blank" class="link-primary">
            <i class="fab fa-instagram fs-l bg-white border rounded-1 border-5 border-white"></i>
          </a>
        </li>
        <li class="mb-sm">
          <a href="https://page.line.me/guv7422g?openQrModal=true" title="官方line群" target="_blank" class="link-primary">
            <i class="fab fa-line fs-l bg-white border rounded-1 border-5 border-white"></i>
          </a>
        </li>
      </ul>
    </div>
    <!-- <header class="position-sticky top-0"> -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <h1>
            <a href="index.html" class="navbar-brand logo logo-primary">DOYOGA</a>
          </h1>
          <button class="navbar-toggler border-0 text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-primary"></span>
          </button>
          <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item text-center">
                <a class="nav-link fw-light" href="course.html">課程介紹</a>
              </li>
              <li class="nav-item text-center">
                <a class="nav-link fw-light" href="surroundings.html">瑜珈空間</a>
              </li>
              <li class="nav-item text-center">
                <a class="nav-link fw-light" href="curriculum.html">當月課表</a>
              </li>
            </ul>
          </div>
          <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
            <div class="d-flex justify-content-center">
              <a href="./reservation.html" class="btn btn-outline-primary rounded-1 me-4">立即預約</a>
              <a href="./contact.html" class="btn btn-outline-primary rounded-1">聯絡我們</a>
            </div>
          </div>
        </div>
      </nav>
    </header>
    
    <%- contents %>

    <footer>
      <div class="bg-primary py-6 py-md-8 border-bottom border-white">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-lg-8 mb-2 mb-lg-0">
              <h3 class="fs-4 fs-md-3 fw-light fw-md-medium text-white">現在訂閱，獲得課程優惠碼！</h3>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="input-group">
                <input type="email" name="email" class="form-control ph-primary fs-5 py-2 px-4" placeholder="輸入您的電子信箱" aria-label="輸入您的電子信箱" aria-describedby="訂閱信箱">
                <button type="button" class="btn btn-secondary text-white px-4">
                  訂閱
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-primary py-6 py-md-8">
        <nav class="container position-relative">
          <div class="navbar py-0 mb-1">
            <a href="index.html" class="navbar-brand logo logo-white">DOYOGA</a>
            <ul class="d-flex">
              <li class="me-2">
                <a href="https://www.facebook.com/hexschool/" title="臉書粉絲團" target="_blank" class="link-light">
                  <i class="fab fa-facebook d-block fs-4"></i>
                </a>
              </li>
              <li class="me-2">
                <a href="https://www.instagram.com/hexschool/" title="IG icon" target="_blank" class="link-light">
                  <i class="fab fa-instagram d-block fs-4"></i>
                </a>
              </li>
              <li>
                <a href="https://page.line.me/guv7422g?openQrModal=true" title="官方line群" target="_blank" class="link-light">
                  <i class="fab fa-line d-block fs-4"></i>
                </a>
              </li>
            </ul>
          </div>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link d-inline-block fw-light text-white py-1" href="course.html">課程介紹</a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-inline-block fw-light text-white py-1" href="surroundings.html">瑜珈空間</a>
            </li>
            <li class="nav-item">
              <a class="nav-link d-inline-block fw-light text-white py-1 pb-0" href="curriculum.html">當月課表</a>
            </li>
          </ul>
          <p class="position-md-absolute bottom-0 start-50 translate-middle-md-x text-white mt-1">© 2021. All Rights Reserved.</p>
        </nav>
      </div>
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <!-- Swiper -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.8.4/swiper-bundle.min.js"></script> -->
    <!-- <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script> -->

    <script src="./assets/js/all.js"></script>
  </body>

</html>