<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <!-- <header class="position-sticky top-0"> -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <h1>
            <a href="index.html" class="navbar-brand logo-img">DOYOGA</a>
          </h1>
          <button class="navbar-toggler border-0 text-primary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-primary"></span>
          </button>
          <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item text-center">
                <a class="nav-link fw-light" href="#">課程介紹</a>
              </li>
              <li class="nav-item text-center">
                <a class="nav-link fw-light" href="#">瑜珈空間</a>
              </li>
              <li class="nav-item text-center">
                <a class="nav-link fw-light" href="#">當月課表</a>
              </li>
            </ul>
          </div>
          <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
            <div class="d-flex justify-content-center">
              <button href="./reservationStep1.html" class="btn btn-outline-primary rounded-1 me-4">立即預約</button>
              <button href="./reservationStep1.html" class="btn btn-outline-primary rounded-1">聯絡我們</button>
            </div>
          </div>
        </div>
      </nav>
    </header>
    
    <%- contents %>

    <footer class="footer">
    </footer>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>